/* swiper ------------------------------------------ */
#swiper {
	// swiper 提供的原生變數可以修改主題顏色
	--swiper-theme-color: white;
	height: 470px;
	.swiper-pagination-bullet {
		background: white;
		opacity: 0.5;
	}
	// 這兩個 class 是連在一起
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		opacity: 1;
	}
	.swiper-button-next,
	.swiper-button-prev {
		margin-top: -40px;
	}
	@include sm {
		height: 300px;
	}
	@include lg {
		height: 360px;
	}
	@include xl {
		height: 400px;
	}
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
	background-image: none;
}
