doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style.
      h1 {
        color: red;
      }
  body
    h1 AAA
    a(href="https://google.com" target="_blank") Google
    img#image.border.round(src="https://picsum.photos/id/684/600/400")
    div BBB 
    .container
      .row
        .col-12
          h1
            | ASDASD
            br
            | AAAA
    // 會進到 HTML 的註解
    //- 不會進到 HTML 的註解
    script.
      const aaa = document.getElementById('aaa')
