// @use 'vuetify' with (
//   // variables go here
// );
.bg-a {
    background: #aabbcc;
}

.bg-b {
    background: #FF5722;
}

.bg-c {
    background: #FF9800;
}

.bg-d {
    background: #FFEB3B;
}

.bg-e {
    background: #03A9F4;
}

.bg-f {
    background: #9C27B0;
}

.bg-g {
    background: #3F51B5;
}

.bg-h {
    background: #4CAF50;
}
